*{
      box-sizing: border-box;
    }
    .playingBlock{
      width: 100px;
      height: 100px;
      /*width: 10%;*/
      /*height: 10%;*/
      position: absolute;
      text-align: center;
      border: solid 1px black;
      vertical-align: middle;
    }
    .takenPiece{
      width: 5%;
      height: 5%;
    }
    .takenPieces{
      height: 50px;
      position: relative;
      text-align: center;
      border: solid 1px black;
      vertical-align: middle;
    }
    .moveRegistery{
      font-size: 12px;
      width: 400px;
      position: relative;
      text-align: center;
      border: solid 1px black;
      vertical-align: middle;
    }
    .blackBlock{
      background-color: black;
    }
    .whiteBlock{
      background-color: white;
    }
    .highlighted{
      /*background-color: green;*/
      border: solid 10px green;
    }
    .attackBlock{
      /*background-color: red;*/
      border: solid 10px red;
    }
    .moveBlock{
      /*background-color: blue;*/
      border: solid 10px blue;
    }
    .checkBlock{
      border: solid 10px yellow;
    }
    .checkBlock{
      border: solid 10px yellow;
    }
    .gamePiece{
      width: 70%;
      height: 70%;
      /*background-color: red;*/
      margin: 15%;
      position: relative;
      cursor: pointer;
    }
